
<h1>This is a register page</h1>

<div class="m-3">
    <button>
        <a asp-controller="Auth" asp-action="SignUp" class="btn btn-primary">
            Register
        </a>
    </button>
    <button>
        <a asp-controller="Auth" asp-action="SignIn" class="btn btn-primary">
            Sign In
        </a>
    </button>
</div>

@{
}

